authlib==0.14.2
authutils==4.0.0
boto==2.39.0
Flask==1.1.1
flask-cors==3.0.9
fuzzywuzzy==0.6.1
gen3authz==0.2.1
python-keystoneclient==1.8.1
requests==2.22.0
simplejson==3.8.1
cdispyutils==1.0.4
cdiserrors==0.1.2
cdislogging==1.0.0
lifelines==0.25.2
